@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Rund-Regular', sans-serif ;
    src: url('fonts/Rund/RundTextTRIAL-Regular.otf') format('truetype');
}
html {
    font-size: 10px;
    font-family: 'Rund-Regular', sans-serif;
}
